@charset "utf-8"

.is-bulletless
	list-style-type: none

.full-rule
	width: 100%

.min-height-full
	min-height: 100vh

@import "./luis-cabrera/TodoApp/TodoApp"
@import "../node_modules/bulma/bulma.sass"
